.Content {
  font-family: 'Roboto';
}

.row {
  display: table;
  width: 100%;
  margin: 30px 0;
  text-align: center;
}

.row .col {
    width: 264px;
    display: inline-block;
    margin: 0 43px 50px;
    position: relative;
}

.row .col .content-box {
  background-color: #fff;
}

.Content h3{
  text-align: center;
  margin: 30px 0;
}

.btn-own {
  opacity: 1;
  transition: 0.5s;
}
.btn-own.disabled {
  opacity: 0;
}
.box-btn-home {
  position: absolute;
  bottom: 0px;
  left: 10px;
  width: 100px;
  z-index: 2;
}

.box-btn-next {
  position: absolute;
  bottom: 0px;
  right: 10px;
  width: 100px;
  z-index: 2;
}

.content-with-background {
  position: absolute;
  top: 0;
  width: 100%;
}

img {
  max-width: 100%;
  height: auto;
}