@font-face {
  font-family: 'NaturaScript';
  font-style: normal;
  font-weight: 400;
  src: url('../../../fonts/NaturaScript.woff');
  src: local('Natura Script'), local('NaturaScript'),
       url('../../../fonts/NaturaScript.woff') format('woff'),
       url('../../../fonts/NaturaScript.otf') format('otf');
}

@font-face {
  font-family: 'NaturaSans';
  font-style: normal;
  font-weight: 400;
  src: url('../../../fonts/NaturaSans/NaturaSans-Bold.woff');
  src: local('Natura Sans'), local('NaturaSans'),
       url('../../../fonts/NaturaSans/NaturaSans-Bold.woff') format('otf'),
       url('../../../fonts/NaturaSans/NaturaSans-Regular.otf') format('otf');
}

.Content {
  font-family: 'Roboto';
  position: relative;
  width: 1024px;
  height: 768px;
}

.row {
  display: table;
  width: 100%;
  margin: 30px 0;
  text-align: center;
}

.row .col {
    width: 264px;
    display: inline-block;
    margin: 0 43px 50px;
    position: relative;
}

.row .col .content-box {
  background-color: #fff;
}

.hide {
  display: none;
}

.Content h3{
  text-align: center;
  margin: 30px 0;
}

.btn-own {
  opacity: 1;
  transition: 0.5s;
}
.btn-own.disabled {
  opacity: 0;
}
.box-btn-home {
  position: absolute;
  bottom: 0px;
  left: 10px;
  width: 100px;
  z-index: 2;
}

.box-btn-next {
  position: absolute;
  bottom: 0px;
  right: 10px;
  width: 100px;
  z-index: 2;
}

.content-with-background {
  position: absolute;
  top: 0;
  width: 100%;
}

img {
  max-width: 100%;
  height: auto;
}

#fullscreen {
  position: absolute;
  z-index: 999;
  width: 100px;
  height: 100px;
  opacity: 0;
}