.Wishes {
}

.Wishes .container-box {
	display: inline-block;
	width: 80%;
}

.Wishes .container-box .box {
	position: relative;
    display: inline-block;
    margin: 14px;
}
.Wishes .container-box .box.check .content-check{
	display: block;
}

.Wishes .container-box .box .content-check {
    position: absolute;
    width: 30px;
    right: -10px;
    bottom: -10px;
    display: none;
}

.Wishes .container-list {
	display: inline-block;
	width: 19%;
	vertical-align: top;
}